.tabs {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
  margin-top: 10px;
}

.tab {
  padding: 10px 26px;
  font-size: 1rem;
  color: #6c7890;
  border-radius: 999px;
  background: #f8f9fa;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 450;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.tab.active {
  background: linear-gradient(90deg, #ff7eb3 0%, #65d6ff 100%);
  color: #fff;
  font-weight: 600;
  box-shadow: 0 2px 18px 0 rgba(100, 113, 255, 0.14);
}
