.tabs {
  display: flex;
  gap: 7px;
  margin-bottom: 7px;
  margin-top: 2px;
}

.tab {
  padding: 5px 13px;
  font-size: 0.83rem;
  color: #6c7890;
  border-radius: 999px;
  background: #f8f9fa;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 450;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.tab.active {
  background: linear-gradient(90deg, #ff7eb3 0%, #65d6ff 100%);
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0.8px 7px 0 rgba(100, 113, 255, 0.10);
}
